<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString"
            connectionString="Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString1"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString2"
            connectionString="Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString3"
            connectionString="Data Source=SFZ-PC\SQLEXPRESS;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString4"
            connectionString="Data Source=S2\SQLSERVER2008R2;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString5"
            connectionString="Data Source=42.121.111.38;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString6"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsV2ConnectionString"
            connectionString="Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=BlueCarGpsV2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsV2ConnectionString1"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=BlueCarGpsV2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsConnectionString7"
            connectionString="Data Source=S2\SQLSERVER2008R2;Initial Catalog=BlueCarGps;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsV2ConnectionString2"
            connectionString="Data Source=MB-PC;Initial Catalog=BlueCarGpsV2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.BlueCarGpsV3ConnectionString"
            connectionString="Data Source=MB-PC;Initial Catalog=BlueCarGpsV3;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="BlueCarGpsLib.Properties.Settings.PEAssetManagmentConnectionString"
            connectionString="Data Source=SFZ-PC\SQLEXPRESS;Initial Catalog=PEAssetManagment;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
