<div class="pull-right" style="margin: 0 20px 0 0;">
    <button type="button" class="marco-btn-success name_import_pvc" style="margin-left: 20px;">
        <i class="fa fa-cloud-upload"></i>
        导入
    </button>
</div>

<div id="name_dialog_content" class="import_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        导入PVC记录
    </div>
    <div class="dialogModal_content">
        <strong>选择数据文件:</strong>
        <hr />
        <input class="name_item-data-uploader" type="file" name="files[]" data-url="/PVC/Import" />
        <div class="name_item-data-uploader-preview" style="display:none;"></div>
        <hr />
        <a href="~/Template/PVC导入模板.xlsx" target="_blank">下载PVC导入模板</a>
    </div>
</div>

<script type="text/javascript">
    $('.name_import_pvc').click(function () {
        $('#name_dialog_content').dialogModal({
            onOkBut: function () {
            },
            onCancelBut: function () { },
            onLoad: function () {
                data_upload(".name_item-data-uploader");
            },
            onClose: function () {
                window.location.reload();
            },
        });
    });
</script>

@Html.Partial("_PartialPVC")
